# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/
venv/

# Node
node_modules/
www/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Shinylive export
_site/

# uv
.python-version
